body {
    background-color: #202020ff;
}
.card-header {
    background-color: #343a40;
    color: white;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.form-control {
    border-radius: 0.25rem;
}
.alert {
    border-radius: 0.25rem;
}


/* NAVBAR */
/* Branding Colors */
.navbar-green {
    background-color: #006400; /* Dark green */
    color: white;
}

.navbar-orange {
    background-color: #ff6600; /* Bright orange */
    color: white;
}

.navbar-border {
    border-color: #004d00; /* Slightly darker green */
}

.navbar-green a {
    color: white;
    transition: color 0.2s ease-in-out;
}

.navbar-green a:hover {
    color: #ffb84d; /* Highlight orange */
}
.navbar-orange a {
    color: white;
    transition: color 0.2s ease-in-out;
}
nav {
  border-radius: 0.6rem; /* more subtle curve */
}
.navbar-orange a:hover {
    color: #004d00; /* Highlight green */
}